# ############################### GENERAL ###############################
LOG_PATH = "logs"

# ############################### KAFKA ###############################
BOOTSTRAP_SERVER=<your_kafka>
MAX_POLL_RECORDS = 3

INCOMING_INDEX_TOPIC_NAME="anonymization"
OUTGOING_INDEX_TOPIC_NAME="anonymization.results"
INDEX_CONSUMER_GROUP="anonymization-grp-0"

ERROR_TOPIC_NAME="anonymization.error"
INDEX_CONSUMER_GROUP="anonymization-error-grp-0"

# ############################### OLLAMA ###############################
OLLAMA_HOST=
OLLAMA_KEEP_ALIVE=10m

# ############################### MODEL ###############################
DEFAULT_MODEL = 'gemma3:27b'
BASE_PENALTY=1.4
RETRY_PENALTY=1.7
